.modal {

    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  

  .modal-content {
    background-color: #CBA4EB;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; 
  }

  .nope
  {
    display: none;

  }

  #eighteen
  {
    font-size: 30px;
    text-align: center;
    color:rgb(255, 255, 255);
  }
  
  #yes
  {
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 30px;
    font-family: 'Baloo Chettan 2', cursive;
    border-radius: 10px;
    background-color: #E4DAFB;
    color: #6384FF;
    margin-left: 40px;
    border: none;
  }
 
  #no
  {
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 30px;
    font-family: 'Baloo Chettan 2', cursive;
    border-radius: 10px;
    background-color: #E4DAFB;
    color: #6384FF;
    border: none;
    
  }

  #yes:hover
  {
    background-color: #6384FF;
    color:#E4DAFB;

  }


  #no:hover
  {
    background-color: #6384FF;
    color:#E4DAFB;

  }